html{
  background-color:#ffa63a;
}
.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
body {
    font-family: tahoma, sans-sans-serif;
    font-size:94%;
}

header{
    padding-top: 5%;
    color:#000000;
}
header h1{
  margin:0;
  font-weight: normal;
  font-size: 165%;
}

/* Site Navigation */
.site-nav {
  margin-top: 20px
}
.site-nav ul {
    margin: 0;
    padding: 0;
}
.site-nav li {
    list-style: none;
    float: left;
    margin-right: 10px;
}
.site-nav a{
  display:block;
  Color:#000000;
  text-decoration: none;
  padding: 10px 10px 10px;
  border: 3px solid #e0e0e0;
  border-bottom: none;
}

.site-nav a:hover{
    background-color: #e0e0e0;
}
/* End Site Navigation*/
.content-area {
    border-top: 3px solid #e0e0e0;
    border-bottom: 3px solid #e0e0e0;
    padding-bottom: 210px;
}

/*Banner overlay*/
.image-banner{
  position: absolute;

}
.image-banner img{
  display: block;
}
.banner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  background-color:rgba(0, 0, 0, .5);
  padding: 15px 20px;
  width: 390px;
  top: 208px;
}


/* End of Banner Overlay*/

.main-area {
  width: 50%;
  float: left;
  padding-right: 30px;
  box-sizing: border-box;
}

.sidebar{
    Width: 50%;
    float: left;
    background-color:#e0e0e0;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
footer{
    padding-bottom: 5%;
    text-align: center;
    font-size: 85%;
    color: #999;
}
.fix{
  clear: both
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
